html {
                height:100%;
            }

            body {
                height:100%;
            }

            .container.main {
                width:100%;
                height:100%;
            }

            .row {
                height:100%;
            }

            .tree {
                height:100%;
                background-color:#E5E5E5;
            }

            .note-list {
                
                height:100%;
            }

            .note {
                background-color:#F2F2F2;
                height:100%;
            }

            /*.row > div {
                padding:0 !important;
            }*/

            div.node {
                display:block;
            }

            span.depth {

            }

            p {
                display:inline-block;
                margin:6px 0;
            }

            a:nth-child(1) {
                margin-right:10px;
            }

            a:nth-child(2) {
                margin-right:20px;
            }

            .branch {
                background-color:#fff;
                border:1px #c2c2c2 solid;
                border-radius: 3px;
                height:40px;
                width:294px;
                overflow: hidden;
            }

            .branch * {
                cursor:pointer;
                -webkit-touch-callout: none;
                -webkit-user-select: none;
                -khtml-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
            }

            .branch .child-viewer {
                border-right:1px #c2c2c2 solid;
                display:inline-block;
                float:left;
                min-height: 40px;
                height:100%;
                width:30px;
                text-align: center;
            }

            .branch .child-viewer:hover {
                background-color:#F2F2F2;
            }
            .branch .body {
                display:inline-block;
                float:left;
                min-height:100%;
                overflow: auto;
            }

            .branch .body .branch-toggle {
                border-right:1px #c2c2c2 solid;
                float:left;
                display:inline-block;
                min-height:40px;
                width:40px;
            }
            
            .branch .body .branch-toggle:hover {
                background-color:#F2F2F2;
            }
            
            .branch .body .branch-toggle .toggler{
                border:1px solid #636363;
                border-radius: 10px;
                margin:10px 10px;
                height:20px;
                width:20px;
            }
            
            .branch .body .branch-toggle .toggler.active{
                background-color:#c2c2c2;
            }

            .branch .body .branch-name {
                float:left;
                display:inline-block;
                min-height:40px;
                /*position:absolute;*/
                width:202px;

            }
            .branch .body .branch-name .name {
                max-width: 202px;
                /*line-height: 40px;*/
                word-wrap:break-word;
                margin:0;
                padding:10px 0 0 5px;
            }

            .branch .options {
                border-left:1px #c2c2c2 solid;
                float:right;
                height:100%;
                width:30px;
            }

